<!DOCTYPE html>
<html>
<head>
    <title>loadmapasyncHTML</title>
    <link rel="stylesheet" href="~/css/Map.css" />
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    @*<script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?key=YourBingMapsKey&branch=experimental'></script>*@
    <script type='text/javascript'>
        var map;
        var map = null, infobox, dataLayer;

        function GetMap() {
            map = new Microsoft.Maps.Map(document.getElementById("myMap"),
                {
                    credentials: "lWw5l390tgfgPTJQx6pn~d2IhKBo1n5N01Ic5h67UYA~As_-1n3lbgommhvgOL6pCONo8QPk1xuSjv6dVaIX0L6na6Hl9suBFDH2ktOBVE-q ",
                    center: new Microsoft.Maps.Location(54.8030, -7.5896)
                });
            dataLayer = new Microsoft.Maps.EntityCollection();
            map.entities.push(dataLayer);
            map.setView({ zoom: 7 });
            var infoboxLayer = new Microsoft.Maps.EntityCollection();
            map.entities.push(infoboxLayer);
            infobox = new Microsoft.Maps.Infobox();
            infoboxLayer.push(infobox);
            AddData();
        }

        function AddData() {
            //Below is temp data that contains lat , lng and description values.
            var pin1 = new Microsoft.Maps.Pushpin(new Microsoft.Maps.Location(54.80296064148081, -7.595801353454591));
            pin1.Title = "Castlefinn Drink Shop";
            pin1.Description = "Main Street, Castlefinn, 074 92 93752";
            Microsoft.Maps.Events.addHandler(pin1, 'click', displayInfobox);
            dataLayer.push(pin1);

            var pin2 = new Microsoft.Maps.Pushpin(new Microsoft.Maps.Location(54.7968, -7.7875));
            pin2.Title = "Ballybofey Drink Shop";
            pin2.Description = "Main Street, Ballybofey, 074 92 92816";
            Microsoft.Maps.Events.addHandler(pin2, 'click', displayInfobox);
            dataLayer.push(pin2);

            var pin3 = new Microsoft.Maps.Pushpin(new Microsoft.Maps.Location(54.9558, -7.7343));
            pin3.Title = "Letterkenny Drink Shop";
            pin3.Description = "Main Street, Letterkenny, 074 92 03927";
            Microsoft.Maps.Events.addHandler(pin3, 'click', displayInfobox);
            dataLayer.push(pin3);

            var pin4 = new Microsoft.Maps.Pushpin(new Microsoft.Maps.Location(54.6538, -8.1096));
            pin4.Title = "Donegal Town Drink Shop";
            pin4.Description = "Main Street, Donegal Town, 074 92 48291";
            Microsoft.Maps.Events.addHandler(pin4, 'click', displayInfobox);
            dataLayer.push(pin4);
        }

        function displayInfobox(e) {
            if (e.targetType == 'pushpin') {
                infobox.setLocation(e.target.getLocation());

                infobox.setOptions({
                    visible: true,
                    title: e.target.Title,
                    description: e.target.Description
                });
            }
        }
    </script>
    <script type='text/javascript' src='http://www.bing.com/api/maps/mapcontrol?callback=GetMap' async defer></script>
</head>
<body onload='GetMap();'>
    <h2>Find A Store Near You</h2>
    <div id='myMap'></div>
</body>
</html>

